body {
  background-color: #DBD9DB;
  font-size: 10px;
}

*, *:before, *:after {
 box-sizing: border-box;
}

.container {
  margin: 5% auto;
  border: none;
  width: 100%;
  text-align: center;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-family: 'Nunito', Roboto, sans-serif;
  text-transform: uppercase;
  line-height: 2em;
  font-size: 2em;
}

h2 {
  text-align: left;
  font-size: 2em;
  margin: 5% 5% 5% 5%;
}

div {
  display: block;
  min-width: 100%;
  float: left;
  background-size: cover;
  background-position: center center;
  min-width: 100%;
  min-height: 300px;
  margin: 2% 2% 2% 2%;
}

.preview-baku {
  background-image: url(../images/baku.jpg);
}

.preview-london {
  background-image: url(../images/london.png);
}

.preview-madrid {
  background-image: url(../images/madrid.jpg);
}

.preview-rome {
  background-image: url(../images/rome.jpg);
}

@media screen and (min-width: 750px){
   .container {
        display: inline-block;
  }
  div {
    min-width: 46%;
  }
}

@media screen and (min-width: 1080px){
   .container {
        display: inline-block;
  }
  div {
    min-width: 21%;
  }
}
